<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @v_user_datum.user_id %>
</p>


<%= link_to 'Edit', edit_v_user_datum_path(@v_user_datum) %> |
<%= link_to 'Back', v_user_data_index_path %>
